<div class="cards__info">
    <h2 class="cards__title">Post : <%= post.title %> <%= writer %></h2>
    <p><%= post_content %></p>
    <h4 class="cards__item__ra">Comments: <span><%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %></span></h4>
</div>