<section class="container">
  <h2 class="ang">Log in</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">      
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "ang" %>
    </div>

    <div class="field">     
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "ang" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field ang">
        <%= f.check_box :remember_me, class: "ang" %>
        <%= f.label :remember_me, class: "ang" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "w-100 p-3 mb-3 ang" %>
    </div>
    <%= render "devise/shared/links", class: "ang" %>
  <% end %>

</section>