<section class="container grid">  

    <%= render 'shared/user_card', user:@user %> 

    <% @posts.each do |post| %>
        <article class="cards cards--posts">
            <%= link_to user_post_path(@user.id, post.id) do %>
                <%= render 'shared/post_content', post:post, post_content:post.text.first(250).concat('...'), writer:'' %>
            <% end %>
            <%= render('shared/post_comments', post:post) if post.comments_counter.positive? %>            
        </article>    

    <% end %>   

    <div class="btn__holder">
        <%= button_to 'Add New Post', new_user_post_url(id: @user.id), method: :get, class: "button"%>
        <button class="button">
            Pagination
        </button>
    </div>

</section>
